<a href="https://colab.research.google.com/github/mayankjaiswal29/Projects/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Movie Recommendation System**

### **Objective :** It is to show a list of movies recommended for a User based on their preferences.

### **Data Source :** This dataset was taken from the YBI Foundation Github.

### **Import Libraries**

In [76]:
import pandas as pd
import numpy as np

### **Import Data**

In [77]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.csv')

### **Describe Data**

In [78]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [79]:
df.shape

(4760, 21)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [81]:
df.isna().sum()

Movie_ID                       0
Movie_Title                    0
Movie_Genre                    0
Movie_Language                 0
Movie_Budget                   0
Movie_Popularity               0
Movie_Release_Date             0
Movie_Revenue                  0
Movie_Runtime                  2
Movie_Vote                     0
Movie_Vote_Count               0
Movie_Homepage              3061
Movie_Keywords               387
Movie_Overview                 3
Movie_Production_House         0
Movie_Production_Country       0
Movie_Spoken_Language          0
Movie_Tagline                818
Movie_Cast                    27
Movie_Crew                     0
Movie_Director                22
dtype: int64

In [82]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

### **Get Feature Selection**

In [83]:
features = df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [84]:
features.shape

(4760, 5)

In [85]:
X = features['Movie_Genre']+ ' ' + features['Movie_Keywords']+ ' ' + features['Movie_Tagline']+ ' ' + features['Movie_Cast']+ ' ' + features['Movie_Director']

In [86]:
X.shape

(4760,)

In [87]:
X.head()

0    Crime Comedy hotel new year's eve witch bet ho...
1    Adventure Action Science Fiction android galax...
2    Animation Family father son relationship harbo...
3    Comedy Drama Romance vietnam veteran hippie me...
4    Drama male nudity female nudity adultery midli...
dtype: object

### **Get Feature Text Conversion to Tokens**

In [88]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [89]:
Tfidf = TfidfVectorizer()

In [90]:
X = Tfidf.fit_transform(X)

In [91]:
X.shape

(4760, 17258)

In [92]:
X

<4760x17258 sparse matrix of type '<class 'numpy.float64'>'
	with 123666 stored elements in Compressed Sparse Row format>

### **Get Similarity Score using Cosine Similarity**

In [93]:
from sklearn.metrics.pairwise import cosine_similarity

In [94]:
Similarity_Score = cosine_similarity(X)

In [95]:
Similarity_Score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [96]:
Similarity_Score.shape

(4760, 4760)

### **Get Movie Name as Input from User and Validate for Closet Spelling**

In [97]:
Favourite_Movie_Name = input('Enter your favourite movie name :')

Enter your favourite movie name :superman

In [98]:
All_Movies_Title_List = df['Movie_Title'].tolist()

In [99]:
import difflib

In [100]:
Movie_Recommendation = difflib.get_close_matches(Favourite_Movie_Name, All_Movies_Title_List)

In [101]:
print(Movie_Recommendation)

['Superman', 'Superman II', 'Superman III']

In [102]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

Superman

In [103]:
Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

614

In [104]:
Recommendation_Score = list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))

In [105]:
len(Recommendation_Score)

4760

### **Get All Movies Sort Based on Recommendation Score wrt Favourite Movie**

In [106]:
# sorting the movies based on their similarity score

Sorted_Similar_Movies = sorted(Recommendation_Score, key = lambda x:x[1], reverse  =True)

In [107]:
# print the name of similar movies based on the index

print('Top 30 Movies Suggested for you :\n')

i = 1

for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index = df[df.index==index]['Movie_Title'].values[0]
  if (i<=30):
    print(i,'. ',title_from_index)
    i+=1

Top 30 Movies Suggested for you :

1 .  Hulk
2 .  The Helix... Loaded
3 .  House of Sand and Fog
4 .  Terminator Salvation
5 .  Northfork
6 .  Zodiac
7 .  Star Trek
8 .  Wolves
9 .  Milk
10 .  Stealth
11 .  Warrior
12 .  He's Just Not That Into You
13 .  Gangster Squad
14 .  Draft Day
15 .  George of the Jungle
16 .  The Age of Adaline
17 .  Parker
18 .  Antz
19 .  Star Trek: The Motion Picture
20 .  Dark City
21 .  Capricorn One
22 .  Iron Man 3
23 .  Jurassic World
24 .  Cloverfield
25 .  Star Trek IV: The Voyage Home
26 .  Spider-Man 3
27 .  Noah
28 .  The Time Traveler's Wife
29 .  The Legend of Zorro
30 .  Peaceful Warrior